<app-container-mask>
  <h1>Testing in Angular</h1>

  <div description>Il <strong class="text-secondary">Testing </strong> in Angular è un aspetto chiave per garantire la
    stabilità dell'applicazione. Angular permette di scrivere test unitari per singoli componenti, servizi e pipe, oltre
    a test end-to-end (E2E) per simulare flussi utente completi. I test Angular possono essere eseguiti tramite:

    <ul class="list-disc ml-4">
      <li><strong class="text-primary">Karma e Jasmine per i test unitari</strong>: Karma è il test runner, mentre
        Jasmine è il framework per scrivere asserzioni e strutturare i test.
      </li>

      <li><strong class="text-primary">TestBed</strong>: un’utility Angular che crea un ambiente di testing in cui i
        componenti e i servizi possono essere testati in isolamento.
      </li>

      <li><strong class="text-primary">ComponentFixture</strong>: fornisce un’API per interagire e verificare il
        comportamento dei componenti.
      </li>
    </ul>
  </div>

  <code>{{codeExample}}</code>

  <div class="flex flex-col gap-4">
    <p>Messaggio dal servizio: <strong class="bg-black text-white p-1">{{ message }}</strong></p>
  </div>
</app-container-mask>
